.widget-preview
{
    $background-color: #F4F4F4;

    border: solid 1px black;
    background-color: $background-color;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;

    &:hover
    {
        background-color: darken($background-color, 10);
    }

    &.selected
    {
        background-color: darken($background-color, 20);
    }

   .preview-title
   {
       font-size: 20px;
       font-weight: bold;
   }

    .preview-units, .preview-wind
    {
        display: block;

        .preview-label
        {
            font-weight: bold;
            width: 75px;
        }

        .preview-value, .preview-label
        {
            font-size: 12px;
            display: inline-flex;
            align-items: center;
        }
    }
}